<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"/>
</head>
<body>

<div class="container text-center">
    <h2 class="text-center text-primary m-2">Demo page</h2>
</div>
<hr>
<div class="container">

    <div class="d-flex justify-content-center align-items-center mb-3">
        <a th:href="@{../home}" class="fs-6 fw-medium text-info">HOME</a>
    </div>

    <div class="d-flex justify-content-center gap-2">
        <div>
            <ul class="list-group">
                <li class="list-group-item active">Person ${object.field}</li>
                <li class="list-group-item" th:text="'ID: ' + ${attrPerson.personId}">... empty ...</li>
                <li class="list-group-item" th:text="'First name: ' + ${attrPerson.firstName}">... empty ...</li>
                <li class="list-group-item" th:text="'Last name: ' + ${attrPerson.lastName}">... empty ...</li>
                <li class="list-group-item" th:text="'Email: ' + ${attrPerson.email}">... empty ...</li>
                <li class="list-group-item" th:text="'Country: ' + ${attrPerson.country}">... empty ...</li>
                <li class="list-group-item" th:text="'Hobbies: ' + ${attrPerson.hobbies}">... empty ...</li>
            </ul>
        </div>
        <div>
            <ul class="list-group" th:object="${attrPerson}">
                <li class="list-group-item active">Person *{field}</li>
                <li class="list-group-item" th:text="'ID: ' + *{personId}"/>
                <li class="list-group-item" th:text="'First name: ' + *{firstName}"/>
                <li class="list-group-item" th:text="'Last name: ' + *{lastName}"/>
                <li class="list-group-item" th:text="'Email: ' + *{email}"/>
                <li class="list-group-item" th:text="'Country: ' + *{country}"/>
                <li class="list-group-item" th:text="'Hobbies: ' + *{hobbies}"/>
            </ul>
        </div>
        <div>
            <ul class="list-group" th:object="${attrPerson02}">
                <li class="list-group-item active">Person *{field}</li>
                <li class="list-group-item" th:text="'ID: ' + (*{personId} ?: 'Unknown')"/>
                <li class="list-group-item" th:text="'First name: ' + (*{firstName} ?: 'Unknown')"/>
                <li class="list-group-item" th:text="'Last name: ' + (*{lastName} ?: 'Unknown')"/>
                <li class="list-group-item" th:text="'Email: ' + (*{email} ?: 'Unknown')"/>
                <li class="list-group-item" th:text="'Country: ' + (*{country} ?: 'Unknown')"/>
                <li class="list-group-item" th:text="'Hobbies: ' + (*{hobbies} ?: 'Unknown')"/>
            </ul>
        </div>
    </div>

    <div class="m-3">
        <hr>
    </div>

    <div class="d-flex justify-content-center gap-2">
        <div>
            <select class="form-select">
                <option th:each="hobby: ${attrHobbies}" th:value="${hobby}" th:text="${hobby}"/>
            </select>
        </div>
        <div>
            <select class="form-select" id="SelectHobbyId" onchange="displaySelectedHobby()">
                <option th:each="hobby: ${attrPerson.hobbies}" th:value="${hobby}" th:text="${hobby}"/>
            </select>
            <p class="text-center" id="displayHobbyId"></p>
        </div>
        <div>
            <select class="form-select" id="SelectHobbyId02" onchange="displaySelectedHobby02()">
                <option th:each="hobby: ${attrPerson.hobbies}" th:value="${hobby}" th:text="${hobby}"/>
            </select>
            <p class="text-center" id="displayHobbyId02"></p>
        </div>
        <div>
            <select class="form-select" id="SelectHobbyId03" onchange="displaySelectedHobby03()">
                <option th:each="hobby, stat : ${attrPerson.hobbies}" th:value="${hobby}"
                        th:text="(${stat.index} + 1) + '. ' + ${hobby}"
                        th:selected="${stat.index == 1}"
                />
            </select>
            <p class="text-center" id="displayHobbyId03"></p>
        </div>
        <!--Group options of selection-->
        <div>
            <select class="form-select">
                <optgroup label="Group A">
                    <option th:each="hobby: ${attrHobbies}" th:value="${hobby}" th:text="${hobby}"/>
                </optgroup>
                <optgroup label="Group B">
                    <option th:each="hobby, stat : ${attrPerson.hobbies}" th:value="${hobby}"
                            th:text="(${stat.index} + 1) + '. ' + ${hobby}"
                    />
                </optgroup>
            </select>
        </div>

    </div>

    <div class="m-3">
        <hr>
    </div>

    <div class="d-flex justify-content-center gap-2 text-center">
        <div>
            <p class="border border-2 border-primary rounded-2 px-3"
               th:text="${#dates.format(#dates.createNow(), 'YYYY/MM/dd HH:mm:ss')}"
            >0000.00.00 00:00</p>

            <p class="border border-2 border-primary rounded-2 px-3"
               th:text="${#dates.createNow()}"
            >0000.00.00 00:00</p>

            <p th:class="${attrStyle}" th:text="${#temporals.format(attrLocalDate, 'YYYY.MM.dd')}">0000.00.00 00:00</p>

            <p th:class="${attrStyle}" th:text="${#temporals.format(attrLocalDateTime, 'YYYY.MM.dd HH:mm:ss')}">0000.00.00 00:00</p>
        </div>
    </div>
</div>

<script th:src="@{/js/app.js}">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>